{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "5"
        },
        "useBuiltIns": "usage",
        "exclude": ["transform-regenerator"]
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
